:root {
    --e-global-color-primary: #0f0200;
    --e-global-color-secondary: #ffffff;
    --e-global-color-accent: #f26d52;
    --e-global-color-text: #4c4c4c;
	--e-global-color-white: #ffffff;
    --e-global-color-black: #000000;
    --e-global-color-very-red: #201615;
    --e-global-color-very-dark-red: #271b19;
    --e-global-color-light-grayish-red: #a29a99;
    --e-global-color-light-grayish-orange: #fcfaf5;
    --e-global-color-light-grayish-yellow: #f5f4f1;
    --e-global-color-light-yellow: #ffc045;
    --e-global-color-star-yellow: #ffea00;
    --e-global-color-pure-red: #ff0000;
}
h1{
    font-size: 76px;
    line-height: 82px;
    font-weight: 700;
    font-family: "Playfair Display", serif;
}
h2{
    font-size: 46px;
    line-height: 58px;
    font-weight: 700;
    color: var(--e-global-color-primary);
    font-family: "Playfair Display", serif;
}
h3{
    font-size: 22px;
    line-height: 26px;
    font-weight: 700;
    font-family: "Playfair Display", serif;
}
h4{
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
    font-family: "Playfair Display", serif;
}
h5{
    font-size: 18px;
    line-height: 26px;
    font-weight: 700;
    font-family: "Playfair Display", serif;
}
h6{
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    color: var(--e-global-color-accent);
}
p{
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
    color: var(--e-global-color-text);
}
.text-size-18{
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
    color: var(--e-global-color-text);
}
.text-size-16{
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: var(--e-global-color-text);
}
.text-size-14{
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: var(--e-global-color-text);
}
.all_button{
    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
    text-align: center;
    border-radius: 8px;
    position: relative;
    display: inline-block;
    color: var(--e-global-color-white);
    background: var(--e-global-color-accent);
    font-family: "Urbanist", sans-serif;
    transition: all 0.8s ease-in-out;
}
.all_button:hover{
    color: var(--e-global-color-white);
    background: var(--e-global-color-secondary);
}
.all_button i {
    font-size: 12px;
    margin-left: 20px;
    transition: all 0.8s ease-in-out;
    color: var(--e-global-color-white);
}
a, a:hover, a:focus, a:active {
     text-decoration: none;
     outline: none;
     color: inherit;
}
/*Custom CSS*/
.brands-icon:hover{
    filter: none;
    transform: scale(1.1);
    cursor: pointer;
}
.brands-icon{
    transition: 0.3s all ease-in-out;
    filter: grayscale(100%);
}
/*Services Widget*/
.service-con .service_wrapper{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
}
.service-con .service_content h6{
    margin-bottom: 10px;
}
.service-con .service_content .text{
    margin-bottom: 52px;
    padding: 0 40px;
    color: var(--e-global-color-text);
}
.service-con .service-box {
    padding: 40px 50px;
    background-color: var(--e-global-color-white);
    border-bottom: 2px solid var(--e-global-color-white);
    box-shadow: 0 1px 94px 1px rgb(0 0 0 / 3%);
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.service-con .service-box:hover {
    border-bottom: 2px solid var(--e-global-color-accent);
    box-shadow: 0 1px 94px 1px rgb(0 0 0 / 3%);
}
.service-con .service-box .icon {
    min-height: 60px;
    margin-bottom: 30px !important;
    display: inline-block;
    transition: all 0.3s ease-in-out;
}
.service-con .service-box:hover .icon {
    transform: translateY(-5px);
}
.service-con .service-box h4 {
    margin-bottom: 14px;
}
.service-con .service-box p {
    margin-bottom: 24px;
}
.service-con .service-box .learn_more {
    font-size: 14px;
    line-height: 14px;
    font-weight: 500;
    text-align: center;
    position: relative;
    display: inline-block;
    color: var(--e-global-color-accent);
    transition: all 0.3s ease-in-out;
}
.service-con .service-box .learn_more i {
    font-size: 12px;
    margin-left: 10px;
    transition: all 0.8s ease-in-out;
    color: var(--e-global-color-accent);
}
.service-con .service-box .learn_more:hover {
    color: var(--e-global-color-text);
}
.service-con .service-box .learn_more:hover i {
    transform: translateX(4px);
    color: var(--e-global-color-text);
}
/*Testimonial Widget*/
.testimonial-con .testimonial-box .content {
    display: flex;
    align-items: center;
}
.testimonial-con .testimonial-box .testimonial-quote {
    height: 64px;
    width: 64px;
    line-height: 64px;
    text-align: center;
    display: inline-block;
    position: relative;
    margin-right: 16px !important;
    margin-bottom: 0;
    border-radius: 100px;
    background-color: var(--e-global-color-accent);
    transition: all 0.3s ease-in-out;
}
.testimonial-con .testimonial-box .name {
    font-size: 20px;
    line-height: 20px;
    font-weight: 700;
    font-family: "Playfair Display", serif;
    color: var(--e-global-color-primary);
    margin-bottom: 6px;
    display: block;
}
.testimonial-con .testimonial-box .review {
    font-size: 14px;
    line-height: 14px;
    font-weight: 400;
    color: var(--e-global-color-text);
}
.testimonial-con .pagination-outer{
    position: relative;
    display: inline-block;
    top: 28px;
    right: -12px;
}
#atrevesslidercontrol .carousel-control-prev,
#atrevesslidercontrol .carousel-control-next {
    font-size: 20px;
    line-height: 20px;
    top: 0;
    opacity: 1;
    transition: all 0.3s ease-in-out;
    color: var(--e-global-color-primary);
}
#atrevesslidercontrol .carousel-control-prev{
    left: 0;
}
#atrevesslidercontrol .carousel-control-next{
    right: -38px;
}
#atrevesslidercontrol .carousel-control-prev:hover,
#atrevesslidercontrol .carousel-control-next:hover {
    color: var(--e-global-color-accent);
}
/*Best Places*/
.place-con .place-box {
    padding: 15px 15px 20px 15px;
    border-radius: 20px;
    background-color: var(--e-global-color-white);
    box-shadow: 0 1px 94px 1px rgb(0 0 0 / 3%) inset;
    border: 1px solid var(--e-global-color-white);
    transition: all 0.3s ease-in-out;
}
.place-con .place-box:hover {
    border: 1px solid var(--e-global-color-accent);
}
.place-con .place-box .image {
    overflow: hidden;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
    background-color: var(--e-global-color-black);
}
.place-con .place-box .image img{
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
    height: 264px !important;
    object-position: center;
    object-fit: cover;
    width: 100%;
}
.place-con .place-box:hover .image img {
    opacity: 80%;
    transform: scale(1.1);
}
.place-con .place-box .lower_content {
    padding: 22px 22px 0;
}
.place-con .place-box .content {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.place-con .place-box .calendar {
    display: flex;
    align-items: center;
    padding-right: 14px;
}
.place-con .place-box .people {
    display: flex;
    align-items: center;
    padding-left: 14px;
    border-left: 1px solid #e2e2e2;
}
.place-con .place-box .content i {
    font-size: 12px;
    margin-right: 10px;
    color: var(--e-global-color-accent);
}
.place-con .place-box .content span {
    font-size: 14px;
    line-height: 14px;
    font-weight: 400;
    color: var(--e-global-color-text);
}
.place-con .place-box h4 {
    margin-bottom: 18px;
    display: inline-block;
    color: var(--e-global-color-primary);
    transition: all 0.3s ease-in-out;
}
.place-con .place-box h4:hover {
    color: var(--e-global-color-accent);
}
.place-con .place-box .value {
    padding-top: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #e2e2e2;
}
.place-con .place-box .value span {
    font-size: 28px;
    line-height: 28px;
    font-weight: 700;
    color: var(--e-global-color-accent);
}
.place-con .place-box .book_now {
    font-size: 14px;
    line-height: 14px;
    font-weight: 500;
    text-align: center;
    position: relative;
    display: inline-block;
    color: var(--e-global-color-primary);
    transition: all 0.3s ease-in-out;
}
.place-con .place-box .book_now i {
    font-size: 12px;
    margin-left: 10px;
    transition: all 0.8s ease-in-out;
    color: var(--e-global-color-primary);
}
.place-con .place-box .book_now:hover {
    color: var(--e-global-color-accent);
}
.place-con .place-box .book_now:hover i {
    transform: translateX(4px);
    color: var(--e-global-color-accent);
}
.place-con .owl-carousel .owl-nav{    
    display: block !important;
    margin-top: 52px !important;
    position: relative;
    text-align: center;
}
.place-con .owl-carousel .owl-prev,
.place-con .owl-carousel .owl-next {
    font-size: 18px !important;
    width: 57px;
    height: 57px;
    line-height: 57px !important;
    border-radius: 100% !important;
    position: relative;
    text-align: center;
    color: var(--e-global-color-primary) !important;
    background-color: transparent !important;
    border: 1px solid var(--e-global-color-primary) !important;
    transition: all 0.3s ease-in-out;
    opacity: 1;
}
.place-con .owl-carousel .owl-prev{
    left: -4px;
}
.place-con .owl-carousel .owl-next{
    right: -4px;
}
.place-con .owl-carousel .owl-prev:hover,
.place-con .owl-carousel .owl-next:hover{
    color: var(--e-global-color-white) !important;
    background-color: var(--e-global-color-accent) !important;
    border: 1px solid var(--e-global-color-accent) !important;
}
.place-con .owl-carousel .owl-prev:focus,
.place-con .owl-carousel .owl-next:focus{
    outline: none !important;
}
/*Services*/
.service-con5 .service-box{
    border-bottom: 2px solid var(--e-global-color-accent);
}
.service-con5 .service-box p{
    margin-bottom: 0px !important;
}
/*Testimonial Style 2*/
.testimonial2-con .testimonial-box {
    padding: 50px 30px 45px 35px;
    border-radius: 20px;
    background-color: var(--e-global-color-white);
    border-bottom: 2px solid var(--e-global-color-accent);
    box-shadow: 0 1px 94px 1px rgb(0 0 0 / 3%) inset;
}
.testimonial2-con .testimonial-box .testimonial-quoteimage {
    margin-bottom: 20px !important;
}
.testimonial2-con .testimonial-box p {
    margin-bottom: 24px;
}
.testimonial2-con .review-content {
    padding-left: 16px;
    display: flex;
}
.testimonial2-con .review-content .testimonial-personimage {
    position: relative;
    top: 2px;
    left: -15px;
}
.testimonial2-con .review-content .testimonial-personimage img {
    width: 54px !important;
    border-radius: 100px;
}
.testimonial2-con .testimonial-box ul {
    margin-bottom: 6px;
}
.testimonial2-con .testimonial-box ul li {
    display: inline-block;
}
.testimonial2-con .testimonial-box ul li i {
    font-size: 12px;
    line-height: 12px;
    color: var(--e-global-color-light-yellow);
}
.testimonial2-con .review-content .name {
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    display: block;
    font-family: "Playfair Display", serif;
    color: var(--e-global-color-primary);
}
.testimonial2-con .review-content .review {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: var(--e-global-color-text);
}
.testimonial2-con .owl-carousel .owl-item img {
    width: auto !important;
}
.testimonial2-con .owl-carousel .owl-nav{    
    display: block !important;
    margin-top: 52px !important;
    position: relative;
    text-align: center;
}
.testimonial2-con .owl-carousel .owl-prev,
.testimonial2-con .owl-carousel .owl-next {
    font-size: 18px !important;
    width: 57px;
    height: 57px;
    line-height: 57px !important;
    border-radius: 100% !important;
    position: relative;
    text-align: center;
    color: var(--e-global-color-primary) !important;
    background-color: transparent !important;
    border: 1px solid var(--e-global-color-primary) !important;
    transition: all 0.3s ease-in-out;
    opacity: 1;
}
.testimonial2-con .owl-carousel .owl-prev{
    left: -4px;
}
.testimonial2-con .owl-carousel .owl-next{
    right: -4px;
}
.testimonial2-con .owl-carousel .owl-prev:hover,
.testimonial2-con .owl-carousel .owl-next:hover{
    color: var(--e-global-color-white) !important;
    background-color: var(--e-global-color-accent) !important;
    border: 1px solid var(--e-global-color-accent) !important;
}
.testimonial2-con .owl-carousel .owl-prev:focus,
.testimonial2-con .owl-carousel .owl-next:focus{
    outline: none !important;
}
/*services Style 3*/
.making-con .making_content{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 25px;
}
.making-con .making-box {
    padding: 40px 20px 35px;
    background-color: var(--e-global-color-white);
    border-bottom: 2px solid var(--e-global-color-accent);
    box-shadow: 0 1px 94px 1px rgb(0 0 0 / 3%);
    text-align: center;
    border-radius: 20px;
    transition: all 0.3s ease-in-out;
}
.making-con .making-box .icon {
    height: 60px;
    margin-bottom: 20px !important;
    display: inline-block;
    transition: all 0.3s ease-in-out;
}
.making-con .making-box:hover .icon {
    transform: translateY(-5px);
}
.making-con .making-box:hover h4{
    color: var(--e-global-color-accent);
}
/*Testimonial Style 3*/
.testimonial3-con .testimonial-box {
    padding: 44px 50px 44px 38px;
    border-radius: 20px;
    background-color: var(--e-global-color-white);
    border-bottom: 2px solid var(--e-global-color-accent);
}
.testimonial3-con .testimonial-box .testimonial-personimage {
    width: 19%;
    float: left;
}
.testimonial3-con .testimonial-box .testimonial-personimage img {
    border-radius: 100%;
}
.testimonial3-con .testimonial-box .content {
    width: 81%;
    padding-left: 25px;
    display: inline-block;
}
.testimonial3-con .testimonial-box p {
    margin-bottom: 10px;
}
.testimonial3-con .testimonial-box ul {
    margin-bottom: 10px;
}
.testimonial3-con .testimonial-box ul li {
    display: inline-block;
}
.testimonial3-con .testimonial-box ul li i {
    font-size: 14px;
    line-height: 14px;
    color: var(--e-global-color-light-yellow);
}
.testimonial3-con .testimonial-box .name {
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    display: block;
    font-family: "Playfair Display", serif;
    color: var(--e-global-color-primary);
}
.testimonial3-con .testimonial-box .review {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: var(--e-global-color-text);
}
.testimonial3-con .owl-carousel .owl-nav{    
    display: block !important;
    margin-top: 52px !important;
    position: relative;
    text-align: center;
}
.testimonial3-con .owl-carousel .owl-prev,
.testimonial3-con .owl-carousel .owl-next {
    font-size: 18px !important;
    width: 57px;
    height: 57px;
    line-height: 57px !important;
    border-radius: 100% !important;
    position: relative;
    text-align: center;
    color: var(--e-global-color-primary) !important;
    background-color: transparent !important;
    border: 1px solid var(--e-global-color-primary) !important;
    transition: all 0.3s ease-in-out;
    opacity: 1;
}
.testimonial3-con .owl-carousel .owl-prev{
    left: -4px;
}
.testimonial3-con .owl-carousel .owl-next{
    right: -4px;
}
.testimonial3-con .owl-carousel .owl-prev:hover,
.testimonial3-con .owl-carousel .owl-next:hover{
    color: var(--e-global-color-white) !important;
    background-color: var(--e-global-color-accent) !important;
    border: 1px solid var(--e-global-color-accent) !important;
}
.testimonial3-con .owl-carousel .owl-prev:focus,
.testimonial3-con .owl-carousel .owl-next:focus{
    outline: none !important;
}
/*Portfolio Widget*/
.explore-con .explore-box {
    position: relative;
    transition: all 0.3s ease-in-out;
}
.explore-con .explore-box .image{
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
}
.explore-con .explore-box .image::before{
    content: "";
    position: absolute;
    opacity: 50%;
    width: 100%;
    height: 100%;
    bottom: 0;
    border-radius: 8px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../img/explore-fadeimage.png);
    transition: all 0.3s ease-in-out;
}
.explore-con .explore-box:hover .image::before{
    display: none;
}
.explore-con .explore-box:hover .image {
    opacity: 1;
    background-color: var(--e-global-color-black);
}
.explore-con .explore-box .image img{
    transition: all 0.3s ease-in-out;
    border-radius: 8px;
    width: 100%;
    height: 319px;
    object-fit: cover;
    object-position: center;
}
.explore-con .explore-box:hover .image img {
    opacity: 70%;
    transform: scale(1.1);
}
.explore-con .explore-box .rating{
    left: 20px;
    top: 18px;
    padding: 7px 8px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    position: absolute;
    background-color: rgb(0 0 0 / 35%);
}
.explore-con .explore-box .rating i{
    font-size: 8px;
    margin-right: 4px;
    color: var(--e-global-color-star-yellow);
}
.explore-con .explore-box .rating span{
    font-size: 12px;
    line-height: 12px;
    font-weight: 400;
}
.explore-con .explore-box .content {
    position: absolute;
    bottom: 30px;
    left: 20px;
}
.explore-con .explore-box .content .place{
    margin-bottom: 6px;
}
.explore-con .explore-box .content i{
    font-size: 11px;
    margin-right: 2px;
    color: var(--e-global-color-white);
}
.explore-con .explore-box .content span{
    font-size: 12px;
    line-height: 12px;
    font-weight: 500;
}
.explore-con .owl-carousel .owl-nav{    
    display: block !important;
    margin-top: 0 !important;
    position: absolute;
    right: 405px;
    top: -114px;
}
.explore-con .owl-carousel .owl-prev,
.explore-con .owl-carousel .owl-next {
    font-size: 18px !important;
    width: 57px;
    height: 57px;
    line-height: 57px !important;
    border-radius: 100% !important;
    position: relative;
    text-align: center;
    color: var(--e-global-color-primary) !important;
    background-color: transparent !important;
    border: 1px solid var(--e-global-color-primary) !important;
    transition: all 0.3s ease-in-out;
    opacity: 1;
}
.explore-con .owl-carousel .owl-prev{
    left: -8px;
}
.explore-con .owl-carousel .owl-next{
    right: -8px;
}
.explore-con .owl-carousel .owl-prev:hover,
.explore-con .owl-carousel .owl-next:hover{
    color: var(--e-global-color-white) !important;
    background-color: var(--e-global-color-accent) !important;
    border: 1px solid var(--e-global-color-accent) !important;
}
.explore-con .owl-carousel .owl-prev:focus,
.explore-con .owl-carousel .owl-next:focus{
    outline: none !important;
}
/*Portfolio Style 2*/
.aboutexplore-con .explore-box {
    position: relative;
    transition: all 0.3s ease-in-out;
}
.aboutexplore-con .explore-box .image{
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
}
.aboutexplore-con .explore-box .image::before{
    content: "";
    position: absolute;
    opacity: 50%;
    width: 100%;
    height: 100%;
    bottom: 0;
    border-radius: 8px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../img/explore-fadeimage.png);
    transition: all 0.3s ease-in-out;
}
.aboutexplore-con .explore-box:hover .image::before{
    display: none;
}
.aboutexplore-con .explore-box:hover .image {
    opacity: 1;
    background-color: var(--e-global-color-black);
}
.aboutexplore-con .explore-box .image img{
    transition: all 0.3s ease-in-out;
    border-radius: 8px;
    width: 100%;
    height: 319px !important;
    object-fit: cover;
    object-position: center;
}
.aboutexplore-con .explore-box:hover .image img {
    opacity: 70%;
    transform: scale(1.1);
}
.aboutexplore-con .explore-box .rating{
    left: 20px;
    top: 18px;
    padding: 7px 8px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    position: absolute;
    background-color: rgb(0 0 0 / 35%);
}
.aboutexplore-con .explore-box .rating i{
    font-size: 8px;
    margin-right: 4px;
    color: var(--e-global-color-star-yellow);
}
.aboutexplore-con .explore-box .rating span{
    font-size: 12px;
    line-height: 12px;
    font-weight: 400;
}
.aboutexplore-con .explore-box .content {
    position: absolute;
    bottom: 30px;
    left: 20px;
}
.aboutexplore-con .explore-box .content .place{
    margin-bottom: 6px;
}
.aboutexplore-con .explore-box .content i{
    font-size: 11px;
    margin-right: 2px;
    color: var(--e-global-color-white);
}
.aboutexplore-con .explore-box .content span{
    font-size: 12px;
    line-height: 12px;
    font-weight: 500;
}
.aboutexplore-con .owl-carousel .owl-nav{    
    display: block !important;
    margin-top: 54px !important;
    position: relative;
    text-align: center;
}
.aboutexplore-con .owl-carousel .owl-prev,
.aboutexplore-con .owl-carousel .owl-next {
    font-size: 18px !important;
    width: 57px;
    height: 57px;
    line-height: 57px !important;
    border-radius: 100% !important;
    position: relative;
    text-align: center;
    color: var(--e-global-color-primary) !important;
    background-color: transparent !important;
    border: 1px solid var(--e-global-color-primary) !important;
    transition: all 0.3s ease-in-out;
    opacity: 1;
}
.aboutexplore-con .owl-carousel .owl-prev{
    left: -8px;
}
.aboutexplore-con .owl-carousel .owl-next{
    right: -8px;
}
.aboutexplore-con .owl-carousel .owl-prev:hover,
.aboutexplore-con .owl-carousel .owl-next:hover{
    color: var(--e-global-color-white) !important;
    background-color: var(--e-global-color-accent) !important;
    border: 1px solid var(--e-global-color-accent) !important;
}
.aboutexplore-con .owl-carousel .owl-prev:focus,
.aboutexplore-con .owl-carousel .owl-next:focus{
    outline: none !important;
}
/*Portfolio Style 3*/
.explore3-con .explore-box {
    position: relative;
    transition: all 0.3s ease-in-out;
}
.explore3-con .explore-box .image{
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
}
.explore3-con .explore-box .image::before{
    content: "";
    position: absolute;
    opacity: 50%;
    width: 100%;
    height: 100%;
    bottom: 0;
    border-radius: 8px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../img/explore-fadeimage.png);
    transition: all 0.3s ease-in-out;
}
.explore3-con .explore-box:hover .image::before{
    display: none;
}
.explore3-con .explore-box:hover .image {
    opacity: 1;
    background-color: var(--e-global-color-black);
}
.explore3-con .explore-box .image img{
    transition: all 0.3s ease-in-out;
    border-radius: 8px;
    width: 100%;
    height: 319px !important;
    object-fit: cover;
    object-position: center;
}
.explore3-con .explore-box:hover .image img {
    opacity: 70%;
    transform: scale(1.1);
}
.explore3-con .explore-box .rating{
    left: 20px;
    top: 18px;
    padding: 7px 8px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    position: absolute;
    background-color: rgb(0 0 0 / 35%);
}
.explore3-con .explore-box .rating i{
    font-size: 8px;
    margin-right: 4px;
    color: var(--e-global-color-star-yellow);
}
.explore3-con .explore-box .rating span{
    font-size: 12px;
    line-height: 12px;
    font-weight: 400;
}
.explore3-con .explore-box .content {
    position: absolute;
    bottom: 30px;
    left: 20px;
}
.explore3-con .explore-box .content .place{
    margin-bottom: 6px;
}
.explore3-con .explore-box .content i{
    font-size: 11px;
    margin-right: 2px;
    color: var(--e-global-color-white);
}
.explore3-con .explore-box .content span{
    font-size: 12px;
    line-height: 12px;
    font-weight: 500;
}
.explore3-con .owl-carousel .owl-nav{    
    display: block !important;
    margin-top: 54px !important;
    position: relative;
    text-align: center;
}
.explore3-con .owl-carousel .owl-prev,
.explore3-con .owl-carousel .owl-next {
    font-size: 18px !important;
    width: 57px;
    height: 57px;
    line-height: 57px !important;
    border-radius: 100% !important;
    position: relative;
    text-align: center;
    color: var(--e-global-color-primary) !important;
    background-color: transparent !important;
    border: 1px solid var(--e-global-color-primary) !important;
    transition: all 0.3s ease-in-out;
    opacity: 1;
}
.explore3-con .owl-carousel .owl-prev{
    left: -8px;
}
.explore3-con .owl-carousel .owl-next{
    right: -8px;
}
.explore3-con .owl-carousel .owl-prev:hover,
.explore3-con .owl-carousel .owl-next:hover{
    color: var(--e-global-color-white) !important;
    background-color: var(--e-global-color-accent) !important;
    border: 1px solid var(--e-global-color-accent) !important;
}
.explore3-con .owl-carousel .owl-prev:focus,
.explore3-con .owl-carousel .owl-next:focus{
    outline: none !important;
}
.explore3-con .container {
    max-width: 1710px;
    margin: 0 auto;
}
/*Newsletter*/
.footer-con .upper_portion input {
    font-size: 14px;
    line-height: 14px;
    font-weight: 400;
    padding: 18px 26px;
    width: 100%;
    position: relative;
    color: var(--e-global-color-text);
    background-color: var(--e-global-color-white);
    border: 1px solid transparent;
    border-radius: 8px;
    overflow: visible;
    outline: none;
}
.footer-con .upper_portion p{
    margin-bottom: 0px !important;
}
.footer-con .upper_portion input:focus {
    border: 1px solid var(--e-global-color-accent);
}
.footer-con .upper_portion button {
    font-size: 20px;
    width: 55px;
    height: 47px;
    top: 4px;
    right: 4px;
    border: none;
    float: right;
    position: absolute;
    color: var(--e-global-color-white);
    background-color: var(--e-global-color-accent);
    border-radius: 6px;
    overflow: visible;
    outline: none;
    transition: all 0.8s ease-in-out;
}
.footer-con .upper_portion button:hover {
    background-color: var(--e-global-color-primary );
}
/*FAQ*/
.faq-atreves .elementor-toggle-item{
    box-shadow: 0 1px 94px 1px rgb(0 0 0 / 5%);
    margin-bottom: 20px;
    border-radius: 10px;
    border: 1px solid var(--e-global-color-white);
}
.faq-atreves .elementor-toggle-item:hover{
    border:1px solid var(--e-global-color-accent);
    transition: all 0.3s ease-in-out;
}
.faq-atreves .elementor-toggle-item:hover .elementor-tab-title{
    color: var(--e-global-color-accent);
    transition: all 0.3s ease-in-out;
}
/*Contact Page*/
.contact_content .upper{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 22px;
    margin-bottom: 22px;
}
.contact_content .form-group{
    margin-bottom: 0px;
}
.contact_content input,
.contact_content textarea {
    font-size: 14px;
    line-height: 14px;
    font-weight: 400;
    height: 58px;
    width: 100%;
    padding: 10px 10px 10px 26px;
    color: var(--e-global-color-text);
    background-color: var(--e-global-color-white);
    border: 1px solid var(--e-global-color-white);
    font-family: "Rajdhani", sans-serif;
    border-radius: 8px;
    overflow: visible;
    outline: none;
}
.contact_content textarea {
    height: 118px;
    width: 100% !important;
    padding: 16px 26px;
    resize: none;
    outline: none;
    overflow: auto;
}
.contact_content .message {
    margin-bottom: 22px;
}
.contact_content input:focus,
.contact_content textarea:focus {
    box-shadow: 2px 3px 42px rgb(55 225 197 / 16%);
    border: 1px solid var(--e-global-color-primary);
}
.contact_content .submit_now {
    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
    padding: 20px 35px;
    text-align: center;
    display: inline-block;
    position: relative;
    border-radius: 8px;
    color: var(--e-global-color-white);
    background-color: var(--e-global-color-primary);
    font-family: "DM Sans", sans-serif;
    transition: all 0.8s ease-in-out;
    text-align: center;
    outline: none;
    border-style: none;
    cursor: pointer;
}
.contact_content .submit_now:hover {
    color: var(--e-global-color-primary);
    background-color: var(--e-global-color-white);
}
.contact_content .submit_now i {
    font-size: 12px;
    margin-left: 22px;
    color: var(--e-global-color-white);
    transition: all 0.8s ease-in-out;
}
.contact_content .submit_now:hover i {
    transform: translateX(4px);
    color: var(--e-global-color-primary);
}
.contact_content input::placeholder,
.contact_content textarea::placeholder{
    color: var(--e-global-color-text);
}
.contact_content p{
    margin-bottom: 0px !important;
}
/*Custom Tabs*/
.destinationpage-place .place-box {
    margin-bottom: 30px;
    box-shadow: 0 1px 94px 1px rgb(0 0 0 / 3%);
}
.destinationpage-place .nav-tabs {
    width: 54%;
    margin: 0 auto 52px;
    justify-content: center;
    border-bottom: 2px solid #ebebeb;
}
.destinationpage-place .tabs-box .nav-tabs li a {
    font-size: 18px;
    line-height: 18px;
    font-weight: 500;
    display: inline-block;
    color: var(--e-global-color-primary);
    text-decoration: none;
    position: relative;
    top: 2px;
    padding: 22px 35px;
    border-bottom: 2px solid transparent;
    transition: all 0.3s ease-in-out;
}
.destinationpage-place .tabs-box .nav-tabs li a:hover{
    color: var(--e-global-color-accent);
}
.destinationpage-place .tabs-box .nav-tabs > li > a.active {
    color: var(--e-global-color-accent);
    border-bottom: 2px solid var(--e-global-color-accent);
}
/*Form*/
.banner-con .banner_content .banner-box {
    width: 874px;
    height: 113px;
    padding: 20px 30px;
    border-radius: 8px;
    text-align: left;
    background-color: var(--e-global-color-light-grayish-yellow);
}
.banner-con .banner-box .form-group{
    margin-right: 12px;
}
.banner-con .banner-box .upper {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.banner-con .banner-box .form-group i{
    font-size: 11px;
    width: 25px;
    height: 25px;
    line-height: 25px;
    margin-right: 10px;
    border-radius: 100%;
    text-align: center;
    color: var(--e-global-color-white);
    background-color: var(--e-global-color-accent);
}
.banner-con .banner-box label{
    font-size: 14px;
    line-height: 14px;
    font-weight: 500;
    margin-bottom: 0;
    color: var(--e-global-color-primary);
}
.banner-con .banner-box input {
    font-size: 12px;
    line-height: 12px;
    font-weight: 400;
    padding: 6px 20px;
    width: 226px;
    height: 37px;
    position: relative;
    color: var(--e-global-color-text);
    background-color: var(--e-global-color-white);
    border: 1px solid transparent;
    border-radius: 5px;
    overflow: visible;
    outline: none;
}
.banner-con .banner-box input:focus {
    border: 1px solid var(--e-global-color-accent);
}
.banner-con .banner-box button {
    font-size: 16px;
    line-height: 20px;
    width: 70px;
    height: 73px;
    border: none;
    float: right;
    text-align: center;
    color: var(--e-global-color-white);
    background-color: var(--e-global-color-accent);
    border-radius: 8px;
    overflow: visible;
    outline: none;
    transition: all 0.8s ease-in-out;
    cursor: pointer;
}
.banner-con .banner-box button:hover {
    background-color: var(--e-global-color-primary);
}
.banner-con p{
    display: contents;
}
/*Contact*/
.elementor-element.elementor-element-2e18f0b .wpcf7 form.sent .wpcf7-response-output {
        color: #46b450;
        background: #fff;
}
.footer-con br{
    display: contents !important;
}
.footer-con button{
    cursor: pointer;
}